<!DOCTYPE html>
<html>
  <head>
    <script>

      function countUp() {
        const counter = document.getElementById("counter");
        var count = counter.textContent;
        count++;
        counter.textContent = count;
      }

      function countDown() {
        const counter = document.getElementById("counter");
        var count = counter.textContent;
        count--;
        counter.textContent = count;
      }
    </script>
  </head>
  <body>
    <p id="counter">100</p>
    <button onclick="countUp()">Up</button>
    <button onclick="countDown()">Down</button>
  </body>
</html>

